*{
    font-family: 'Rubik', sans-serif;
    color: #414141;
    font-weight: 400;
    line-height: 150%;
}

body{
    background: #FBF8EC;
    padding: 15px;
}

.container{
    max-width: 1208px;
    margin: 0 auto;
}
